/* Glowing corner effect */

.glowCard {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 45, 45, 0.5);
  overflow: hidden;
  border-radius: 0.5rem;
}

.glowCard::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  background: radial-gradient(#0ea5e9, transparent, transparent);
  width: 500px;
  height: 500px;
  opacity: 0;
  transition: opacity 0.5s, top 0s, left 0s;
  border-radius: 50%;
}

.glowCard:hover::before {
  opacity: 1;
}

.glowCard::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: rgba(45, 45, 45, 0.1);
  border-radius: 0.5rem;
}

@media (max-width: 640px) {
  .glowCard {
    position: static;
    width: 80%;
    height: 100%;
    background-color: rgba(45, 45, 45, 0.5);
    overflow: hidden;
    border-radius: 0.75rem;
  }
}
